sip-processor/.stack-work
sip-processor/.stack-work/
sip-processor/.gitignore
sip-processor/c-bind/*
sip-processor/c-bind
sip-processor/dist/*
sip-processor/dist
RemoteIO-app/target/*
RemoteIO-app/target
RemoteIO-app/c-src/*_stub.h
RemoteIO-app/c-src/*.so
*.lock